/* IMPORTING FONTS ------------------------------------------------------------------ */

@font-face {
    font-family: 'Satoshi-Variable';
    src: url('./assets/fonts/Satoshi-Variable.woff2') format('opentype');
}

@font-face {
    font-family: 'Zodiac-Variable';
    src: url('./assets/fonts/Zodiac-Variable.woff2') format('opentype');
}

/* BASE STYLES ---------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Satoshi-Variable', sans-serif;
    cursor: none;
    background-color: #dddcce;
    opacity: 1;
    transition: opacity 0.5s ease;
    animation: pageIn 0.4s ease;
}

/* PAGE TRANSITIONS ----------------------------------------------------------------- */

body.page-transition {
    opacity: 0;
}

body {
    animation: pageIn 0.4s ease;
}

@keyframes pageIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* GRAIN EFFECT ------------------------------------------------------------------------------ */

#grain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./assets/images/grain.jpg');
    opacity: 0.1;
    mix-blend-mode: multiply;
    background-size: cover;
    z-index: 90;
    pointer-events: none;
}

/* INTRO ANIMATION ------------------------------------------------------------------- */

#intro-overlay {
    cursor: none;
    position: relative;
    inset: 0;

    background: #dddcce;

    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#axis-top,
#axis-bottom {
    width: 1vw;
    height: 1vw;

    background: #c95656;
    border-radius: 20%;

    position: absolute;
    z-index: 15;
    transition: transform 1.5s cubic-bezier(0.215, 0.610, 0.355, 1);
}

#axis-line {
    pointer-events: none;
    width: 0.1vw;
    height: 0;
    z-index: 14;
    
    background: repeating-linear-gradient(
            to bottom,
            #7e7e7e 0px,
            #7e7e7e 8px,
            transparent 4px,
            transparent 16px
        );

    transition: height 1.5s cubic-bezier(0.215, 0.610, 0.355, 1);
    position: absolute;
}

.axis-label {
    position: absolute;
    left: 40px;
    top: 50%;

    transform: translateY(-50%);

    font-size: 12px;
    color: #424242;

    white-space: nowrap;
}

.intro-part {
    position: absolute;
    width: 35vh;
    opacity: 0;

    transition:
        transform 1s ease,
        opacity 0.2s ease;
}

#axis-top,
#axis-bottom,
.axis-label {
    z-index: 15;
}

@media (max-width: 768px) {

    #axis-top,
    #axis-bottom {
        width: 5vw;
        height: 5vw;
    }

}

#arch,
#inter,
#lens,
#piano {
    opacity: 0;
    transform: translate(0, 0);
    width: 35vh;

    transition:
        transform 0.4s bezier(0.215, 0.610, 0.355, 1),
        opacity 0.2s ease;
    z-index: 11;


}

.intro-side-text {
    position: absolute;

    top: 50%;
    transform: translateY(-50%);

    opacity: 0;

    font-size: 5vw;
    line-height: 0.9;

    color: #424242;

    transition: opacity 0.8s ease;
}

:root {
    --name-offset: 10vw;
}

#intro-text-left {
    position: absolute;
    left: calc(50% - var(--name-offset));
    transform: translate(-100%, -50%);
    top: 50%;
    font-weight: 1000;
    text-align: right;
}

#intro-text-right {
    position: absolute;
    font-weight: 1000;
    left: calc(50% + var(--name-offset));
    transform: translateY(-50%);
    top: 50%;
}

@media (max-width: 768px) {

    #intro-text-left,
    #intro-text-right {
        top: 65%;
        font-size: 3vh;
    }

}

#intro-overlay {
    transition:
        opacity 0.8s ease,
        visibility 0.8s ease;
}

#intro-overlay.hidden {
    opacity: 0;
    visibility: hidden;
}

body.intro-lock {
    overflow: hidden;
}

.corner-text {
    position: absolute;

    font-size: 0.75rem;
    line-height: 1.4;

    color: #424242;
    opacity: 0;

    letter-spacing: 0.08em;

    transition: opacity 0.6s ease;
}

.corner-tl {
    top: 2vh;
    left: 2vw;
}

.corner-tr {
    top: 2vh;
    right: 2vw;
    text-align: right;
}

.corner-bl {
    bottom: 2vh;
    left: 2vw;
}

.corner-br {
    bottom: 2vh;
    right: 2vw;
    text-align: right;
}

/* CURSOR GLASS CIRCLE */

.cursor-glass {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  background: rgba(77, 56, 56, 0.062);
  border: 2px solid hsla(0, 7%, 38%, 0.13);
}

.cursor-glass {
    transition:
        border-color 1s ease,
        transform 0.1s ease;
}

.cursor-glass.active {
    border-color: #c95656;
    border-width: 12px;
    border-style: solid;
}

/* HEADER FIXED NAVIGATION -------------------------------------------------------- */

.header-nav {
    background: #2e2e2e;    
    position: fixed;
    top: 0px;
    left: 0;
    height: 50px;
    width: 100%;
    z-index: 1;
    display: flex;
    font-size: 20px;
    filter: blur(0px);
}

.header-nav a {
  flex: 1;   
  padding: 1.5vh;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: auto;
  transition: 0.3s ease;
}

.header-nav a:hover {
  opacity: 0.6;
  cursor: none;
}

/* FADE ANIMATION ---------------------------------------------------------------------- */

.fade {
  opacity: 0;
  transform: translateX(10px);
  transition: opacity 2s ease, transform 1s ease;
}

.fade.show {
  opacity: 1;
  transform: translateY(0);
}

/* LANDING PAGE SCENES ------------------------------------------------------------------ */

.scene {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scene-2 {
    background: #dddcce;
    height: 1000vh;
    position: relative;
}




.scene-0 {
    background: #181818;
}

.scene-1 {
    position: relative;
    background: #181818;
}
.scene-1 {
    position: relative;
    background: #111;
    overflow: hidden;
}

.scene-1-content {
    width: min(86vw, 1200px);

    display: flex;
    flex-direction: column;

    gap: 3vh;

    color: #dddcce;

    z-index: 2;
}

.scene-1-kicker {
    font-family: 'Satoshi-Variable', sans-serif;

    font-size: clamp(0.7rem, 0.9vw, 1rem);
    font-weight: 500;

    letter-spacing: 0.12em;
    text-transform: uppercase;

    color: rgba(221, 220, 206, 0.65);
}

.scene-1-title {
    font-family: 'Satoshi-Variable', sans-serif;

    font-size: clamp(3rem, 8vw, 9rem);
    font-weight: 900;

    line-height: 0.85;
    letter-spacing: -0.06em;

    color: #dddcce;
}

.scene-1-body {
    max-width: 42rem;

    font-family: 'Satoshi-Variable', sans-serif;

    font-size: clamp(1rem, 1.3vw, 1.4rem);
    font-weight: 400;

    line-height: 1.25;

    color: rgba(221, 220, 206, 0.75);
}

.scene-1-meta {
    display: flex;
    justify-content: space-between;

    width: 100%;

    margin-top: 8vh;

    font-size: clamp(0.65rem, 0.8vw, 0.9rem);
    font-weight: 500;

    letter-spacing: 0.08em;
    text-transform: uppercase;

    color: rgba(199, 95, 95, 0.952);
}

.scene-1::before {
    content: "";

    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 8vh;

    background: #dddcce;

    clip-path: polygon(
        0 0,
        100% 0,
        0 100%,
        0 100%
    );

    z-index: 10;
}

.scene-3::before {
    content: "";

    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 8vh;

    background: #181818;

    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 0%
    );

    z-index: 10;
}


.scene-3 {
    background: #d8d8d0;
    min-height: 380vh;
    position: relative;
    z-index: -1;
    overflow: hidden;
}

@media (max-width: 768px) {

    .scene-3 {
        min-height: 150vh;
    }

}

.scene-4 {
    position: relative;

    background: #181818;
    overflow: hidden;
}

.contact-content {
    width: min(86vw, 1200px);

    display: flex;
    flex-direction: column;

    gap: 3vh;

    color: #dddcce;

    z-index: 2;
}

.contact-kicker {
    font-family: 'Satoshi-Variable', sans-serif;

    font-size: clamp(0.7rem, 0.9vw, 1rem);
    font-weight: 500;

    letter-spacing: 0.12em;
    text-transform: uppercase;

    color: rgba(221, 220, 206, 0.65);
}

.contact-title {
    font-family: 'Satoshi-Variable', sans-serif;

    font-size: clamp(3rem, 8vw, 9rem);
    font-weight: 900;

    line-height: 0.85;
    letter-spacing: -0.06em;

    color: #dddcce;
}

.contact-body {
    max-width: 42rem;

    font-family: 'Satoshi-Variable', sans-serif;

    font-size: clamp(1rem, 1.3vw, 1.4rem);
    font-weight: 400;

    line-height: 1.25;

    color: rgba(221, 220, 206, 0.75);
}

.contact-links {
    display: flex;
    gap: 1rem;

    margin-top: 2vh;
}

.contact-links a {
    padding: 0.8rem 1.2rem;

    border: 1px solid rgba(221, 220, 206, 0.65);
    border-radius: 999px;
    font-size: 10;
    color: #dddcce;

    font-size: 0.8rem;
    font-weight: 1000;

    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-decoration: none;

    cursor: none;

    transition:
        background 0.3s ease,
        color 0.3s ease,
        border-color 0.3s ease;
}

.contact-links a:hover {
    background: #dddcce;
    color: #181818;
    border-color: #dddcce;
}

.contact-meta {
    display: flex;
    justify-content: space-between;

    width: 100%;

    margin-top: 8vh;

    font-size: clamp(0.65rem, 0.8vw, 0.9rem);
    font-weight: 500;

    letter-spacing: 0.08em;
    text-transform: uppercase;

    color: rgba(221, 220, 206, 0.55);
}

/* HUB 3D MODEL ---------------------------------------------------------------------------- */

#model-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* CATEGORY ---------------------------------------------- */

.category-panel {
    position: fixed;

    top: 50%;
    left: 25vw;
    transform: translateY(-50%);
    width: 50vw;
    height: 30vw;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    background: rgba(255, 255, 255, 0.5);
    border: 3px solid rgba(85, 85, 85, 0.349);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    color: rgb(37, 37, 37);
    text-decoration: none;
    font-size: 2vw;
        font-weight: 1000;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
    z-index: 50;
}

.category-panel.visible {
    opacity: 1;
    z-index: 51;
    pointer-events: all;
}

#category-model-container {
    width: 100vw;
    height: 100vh;
}

.category-panel {
    position: fixed;
}

.panel-center {
    font-size: 3.5vw;
    font-weight: 1000;
}

.panel-corner {
    position: absolute;
    font-weight: 400;
    font-size: 0.7rem;
    line-height: 1.2;

    letter-spacing: 0.08em;

    color: #424242;
}
.panel-tl {
    top: 1rem;
    color: rgb(39, 39, 39);
    left: 1rem;
}

.panel-tr {
    top: 1rem;
    right: 1rem;
    color: rgb(39, 39, 39);
    text-align: right;
}

.panel-bl {
    bottom: 1rem;
    color: rgb(39, 39, 39);
    left: 1rem;
}

.panel-br {
    font-weight: 700;
    bottom: 1rem;
    right: 1rem;
    z-index: 0;
    color: rgb(104, 65, 65);
    text-align: right;
}

.category-panel {
    background-image: none;
    background-size: cover;
    background-position: center;
    filter: blur(20%);
    background-repeat: no-repeat;
}

.category-panel::before {
    content: "";

    position: absolute;
    inset: 0;

    background-image: var(--panel-bg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    filter: grayscale(80%) blur(3px) hue-rotate(0deg) contrast(0.5) brightness(1.5);
    transform: scale(1);

    opacity: 0.75;

    z-index: -2;
    pointer-events: none;
}



/* TYPOGRAPHY ---------------------------------------------------------------------- */

h1,
h2,
p {
    color: white;
    font-family: Arial, sans-serif;
}

/* SCROLL BAR ---------------------------------------------------------------------- */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #424242;
}

::-webkit-scrollbar-thumb:hover {
    background: #2f2f2f;
}

html {
    scrollbar-color: #424242 transparent;
}

.cat_img {
    position: fixed;

    left: 0;
    top: 50%;

    transform: translate(-50%, -50%);

    width: 40vw;
    height: auto;


    pointer-events: none;
    user-select: none;

    z-index: 1;
}

/* PROJECTS */

.project-container {
    position: absolute;
    left: 0vw;
    top: 0;
    width: 75vw;
    height: 70vh;
}


.project-overlay {
    position: relative;

    top: 50%;
    left: 60vw;

    transform: translate(-50%, -50%);

    display: flex;
    gap: 1rem;
    border-color: #ff0000;
    border-width: 5px;

    width: 75vw;
    z-index: 0;
}

.project-info {
    width: 30vw;
    min-height: 25rem;
    left: 20vw;

    border: 2px solid #292929;
    border-radius: 20px;
}

.project-media {
    flex: 1;
    cursor: none;
    border: 2px solid #292929;
    border-radius: 20px;

    overflow: hidden;
    transition: filter 0.45s ease;
    filter: grayscale(100%);
}

.project-media img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    display: block;
}

.project-media-link {
    flex: 1;
    display: block;
    text-decoration: none;
}

.project-media:hover {
    filter: grayscale(0%);
}

.project-header {
    right: 2vw;
}

.project-title {
    margin-left: 5%;
    font-family: Satoshi-Variable;
    font-size: 3vw;
    font-weight: 800;

    color: #2b2b2b;
}

.project-subtitle {
    margin-left: 5%;
    font-family: "Satoshi-Variable";
    font-size: 1.5vw;
    font-weight: 500;
    color: #303030;
}

.project-description {
    margin-left: 5%;

    font-family: "Satoshi-Variable";
    font-size: 1vw;
    top: 10px;
    font-weight: 500;
    color: #303030;
}

.project-meta-top,
.project-meta-side,
.project-meta-bottom {

    font-family: "Satoshi-Variable";

    font-size: 0.65rem;
    font-weight: 500;

    line-height: 1.1;
    letter-spacing: 0.08em;

    text-transform: uppercase;

    color: #292929;

}

.project-meta-top {

    text-align: right;

    flex-shrink: 0;

    margin-top: -4rem;
    margin-right: 1vw;

}

.project-meta-bottom {

    text-align: right;
    margin-top: 35vh;
    margin-right: 1vw;

}

.project-meta-side {
    color:  #943434;
    text-align: right;
    margin-top: 0vh;
    margin-right: 10vw;

}

@media (max-width: 768px) {

    .scene-1-content {
        width: 86vw;
        gap: 2.5vh;
    }

    .scene-1-title {
        font-size: clamp(3rem, 14vw, 5rem);
    }

    .scene-1-body {
        font-size: 1rem;
    }

    .scene-1-meta {
        flex-direction: column;
        gap: 0.6rem;

        margin-top: 6vh;
    }

}
@media (max-width: 768px) {

    .contact-content {
        width: 86vw;
        gap: 2.5vh;
    }

    .contact-title {
        font-size: clamp(3rem, 14vw, 5rem);
    }

    .contact-body {
        font-size: 1rem;
    }

    .contact-links {
        flex-direction: column;
        align-items: flex-start;
    }

    .contact-meta {
        flex-direction: column;
        gap: 0.6rem;

        margin-top: 6vh;
    }

}